*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#navbar {
	z-index: 9999;
	background-color: #F8F8FF;
}


#logo {
	color: #FF4D3E;	
}

#header {
	height: 100vh;
}

#name {
	background-color: #F8F8FF;
	height: 100%;
	color: #173890;
	z-index: 100;
	padding-top: 25vh;
}

h1 {
	font-size: 10vw;
	font-weight: 700;
	line-height: 10vw;
}

h2 {
	padding-top: 70px;
	font-size: 4vw;
	font-weight: 700;
	color: #173890;
	border-bottom: 1px solid grey;
}

h3 {
	text-align: right;
	padding-top: 40px;
	font-size: 2vw;
	/*margin-top: 10px;*/
}

h4 {
	margin-top: 40px;
	/*margin-left: 20px;*/
}

p {
	font-size: 0.8em;
	margin-top: 28px;
}

#star {
	color: #173890;
}

#none {
	color: darkgray;
}

#body {
	/*overflow: hidden;*/
}

#header .btn {
	font-size: 1.2em;
	text-decoration: none;
}

#exp {
	/*margin-top: 40;*/
	padding: 0;
}
.name-img {
	width: 34%;  
    overflow: hidden;
}

#name-img {
    height: 100vh;
    position: relative;
    object-fit: cover;
    float: right;
    z-index: -100;
}

#portfolio {
	min-height: 100%;
	background-color: #F8F8FF;
	box-sizing: content-box;
}

#profile {
	min-height: 100%;
	background-color: #F8F8FF;
}

.footer {
	height: 12vh;
	background-color: lightgrey;
}

small {
	color: #F8F8FF;
}

.fab {
	/*color:*/
	font-size: 30px;
}

/*MOBILE*/
@media only screen and (max-width: 420px){
	h1 {
		font-size: 16vw;
		line-height: 15vw;
	}
	h5 {
		font-size: 4vw;
		margin-right: 0;
	}
	h2 {
		font-size: 10vw;
	}
	h3 {
		font-size: 7vw;
	}
}
/*TABLET*/
@media only screen and (min-width: 421px) and (max-width: 1023px) {
	h1 {
		font-size: 14vw;
		line-height: 13vw;
	}
	h2 {
		font-size: 6.5vw;
	}
	h3 {
		font-size: 4vw;
	}
}
/*DESKTOP*/
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 9vw;
		line-height: 8vw;
	}
	h5 {
		/*margin-left: 5px;*/
	}

}
