.jumbotron {
	border: 5px solid gray;
	background: rgba(128,128,128,0.25);
	margin-top: 50px;
}


#portfolio {
	height: 100vh;
}

/*TABLET*/
@media only screen and (min-width: 401px;) and (max-width: 960px;) {

}

/*MOBILE*/
@media only screen and (max-width: 400px;) {

}